.badge-available {
  background-color: #d1fae5;
  color: #abff02;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}

.badge-full {
  background-color: #fee2e2;
  color: #f80e5c;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}